.App{
  display: flex;
  justify-content: space-around;
 
}
.block{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border: 10px solid #fff;

}
body{
  background-color: #161616;
}
img{
  width: 500px;
 
}
.cartIcon{
  width: 70px;
}
.cart-total{
  border: 3px solid #fff;
}
.category-block{
  margin-top: 100px;
}

.categoryButton:hover {

  background-color: #fdeb6b;
  border: 3px solid #fff;

}

.categoryButtonSelected {

  background-color: green;
  border: 3px solid #fff;

}
.categoryButton{
  cursor:pointer;
  margin: 35px;
  padding: 20px;
}
.icon{
  width: 20px;
}
p,h2 .button{
  font-family: "Poppins",sans-serif;
  font-size: 20px;
}
button{
  background-color: #fdeb6b;
  /* margin-top: 40px;
  margin-left: 10px; */
  margin: 30px;
}